h1{
    margin-left: 150px;
    margin-top: 60px;
    font-size: 35px;
}
#input{
    margin-left: 164px;
    font-size: 25px;
}
#submit{
    margin-left: 171px;
    margin-top: 20px;
    font-size: 18px;
}
#command{
    margin-left: 140px;
    margin-top: 30px;
    font-size: 30px;
    color: darkblue;
}